@import 'bootstrap/bootstrap';
@import 'bootstrap/responsive';
@import url(http://fonts.googleapis.com/css?family=Happy+Monkey);

$bg_outer: #a4e778;
$bg_inner: white;
$blurb_margin_bottom: $fluidGridGutterWidth;
$blurb_unit_height: 120px;
$banner_margin: $blurb_margin_bottom * 2;

@mixin filled_box {
	border: 1px solid #222;
	background-color: $bg_inner;
}

body {
	// font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	
	font-size: 24px;
	color: #111;
	background-color: $bg_outer;

	line-height: 150%;
}

.container {
	max-width: 1024px;
}

.under-construction {
	text-align: right;
	margin-top: 12px;
}

.banner-top {
	@include filled_box;
	margin: $banner_margin 0;
}

.slogan {
	@include filled_box;
	text-align: center;
}

.blurb-row {
	margin-bottom: $blurb_margin_bottom;

	.blurb {
		@include filled_box;
		font-family: 'Happy Monkey', cursive;

		padding: 20px;
		text-align: center;

		h1 {
			font-family: CoysFontMedium;
		}
	}
	
	.blurb-tall {
		min-height: $blurb_unit_height * 3;
	}
	.blurb-short {
		min-height: $blurb_unit_height;
	}
}