@import 'bootstrap/bootstrap';
@import 'bootstrap/responsive';
@import url(http://fonts.googleapis.com/css?family=Unkempt|Combo|Patrick+Hand+SC|Life+Savers|Happy+Monkey);

$bg_outer: #a4e778;
// $bg_outer: #f8f8f8;
$bg_inner: white;
$blurb_margin_bottom: $fluidGridGutterWidth;
$blurb_unit_height: 100px;
$banner_margin_top: 3.5%;
$section_margin: $banner_margin_top * 2;

@mixin filled_box {
	// border: 1px solid #222;
	border-radius: 5px;
	// background-color: $bg_inner;
}

body {
	// font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	// font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-family: serif;	
	// font-size: 24px;
	color: #222;
	background-color: $bg_outer;
	font-size: 150%;
	line-height: 150%;
	margin-bottom: 2%;
}

li {
	line-height: inherit; // Override
}

.container {
	max-width: 1024px;
	font-size: 1em;
	
	@media (max-width: 480px) {
		max-width: 100%;
	}
}

.under-construction {
	float: right;
	margin-top: 2px;
	font-size: 70%;
}

.banner-top {
	margin-top: $banner_margin_top;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.courtney {
	text-align: center;
	margin-top: $section_margin;
	margin-bottom: $section_margin;
}

.slogan {
	font-family: CoysFontMedium;
	font-size: 180%;
	text-align: center;
	margin-top: $section_margin;
}

.blurb-first {
	margin-top: $banner_margin_top * 2;
}

.section {
	margin-top: $section_margin;
}

.blurb-row {
	@extend .row-fluid;
	margin-bottom: $blurb_margin_bottom;

	.blurb {
		@include filled_box;
		padding: 20px;
		// font-family: 'Unkempt', cursive;
		// font-family: 'Combo', cursive;
		// font-family: 'Patrick Hand SC', cursive;
		// font-family: 'Life Savers', cursive;
		font-family: 'Happy Monkey', cursive;

		&.blurb-image {
			text-align: center;
		}

		.blurb-heading {
			margin: 10px 0;
			font-family: CoysFontMedium;			
		}

		h1 {
			font-size: 220%;
		}

		h2 {
			font-size: 140%;
		}
	}

	.blurb-center {
		text-align: center;
	}

	.blurb-left {
		text-align: left;
	}

	.blurb-right {
		text-align: right;
	}

	.blurb-tall {
		min-height: $blurb_unit_height * 3;
	}
	.blurb-short {
		min-height: $blurb_unit_height;
	}
}

@media (max-width: 480px) {
	.under-construction {
		float: none;
		text-align: center;
		line-height: 100%;
		margin-bottom: 10px;
	}

	.slogan {
		font-size: 100%;
	}

	.blurb-row {
		.blurb {
			h1 {
				font-size: 180%;
			}
			h2 {
				font-size: 120%;
			}
		}

		.blurb-left,
		.blurb-center,
		.blurb-right {
			text-align: left;
		}

		.blurb-tall,
		.blurb-short {
			min-height: 0px;			
		}
	}
}